*{
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    
}
/* --------------------------------------- */
/* header de la pagina web */

header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: rgb(47, 47, 47);
    
}
#cabecera{ 
    max-width: 1200px;
    height: 100%;
    display: flex;
    margin: auto;
    padding: 0px 20px;
    justify-content: space-between;
    
}

.cabecera__logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cabecera__logo img{
    width: 50px;
}
.cabecera__nav{
position: relative;
height: 100%;
}
#li__btn{
    background-color: rgb(6, 112, 112);
    border-radius: 20px;
    padding: 5px;
}
#li__btn:hover{
    transition: 300ms;
    transform: scale(120%);
}
#btn__theme{
    background-image: url("../Img/Img_Iconos/darkmode.png");
  
    color: white;
    padding: 15px;
    background: size 120px;

    background-repeat: no-repeat;
}
#btn__theme:hover{
    color: black;
}

nav{
    height: 100%;
}
nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin: 0px 20px;
    
}
nav ul li a{
    color: white;
    font-size: 14px;
}
/* -------------------------------- */
body{
    background-image:url("../Img/Img_Login/imgFondo.jpg");
    background-size: 200%;
    background-repeat: no-repeat;
    color: aliceblue;
}
body:before{
    content: "";
    width: 100%;
    min-height: 100%;
    position:absolute;
    top: 0%;
    left: 0%;
    background: linear-gradient(rgba(41, 41, 49, 0.719),rgba(19, 18, 18, 0.74));
    z-index: -1;
}
#articulo{
    position: absolute;
    top: 10%;
    margin: 5% 0% 0% 35%;
    padding: 2%;
    width: 25%;
    background: radial-gradient(rgb(54, 166, 194), black);
    /* background-image: url("../Img/Img_Login/Login.jpg"); */
    background-size: 90%;
    border-radius: 20px;
    box-shadow: black 3px 3px 3px;
}
#articulo p{
    display: inline-block;
}
#imagen{
    padding: 0%;
    margin: 1% 25%;
    width: 50%;
}
#continuar{
    display: inline;
    padding: 0%;
    margin: 3%;
    width: 50%;
   background-color: rgb(111, 112, 112);
   border-radius: 10px;
}
#input{
    border-radius: 10px;
}

.cajatext{
    width: 100%;
    border-radius: 10px;
}
a{
    color: white;
}